<h3>Book Shoping.com</h3><br />

Dear <%= @order.name %>
<p>
This is just to let you know that we've shipped your recent order:
</p>
<table>
You ordered the following items:

<%= render @order.line_items %>

</table>








